
body {
    background-color: #181719;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 2em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    text-decoration: none;
    color: white;
    font-family: 'Crimson Pro', serif;
    font-size: 0.9em;
    border: 1px solid white;
    padding: 0.5em;
    height: 1.3em;
    min-width: max-content;
    filter: blur(.4px);
}

.icon {
    display: none;
    text-decoration: none;
    color: white;
    /* font-size: 2em; */
    padding: 0;
}

nav {
    min-width: 28em;
    display: flex;
    justify-content: space-between;
}

nav p a {
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
}

nav p a:hover {
    text-decoration: underline solid white 2px;
    font-weight: 700;
}

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10em 2em 14em 2em;

    position: relative;
}

#heading {
    font-family: 'Lora', serif;
    font-size: 3em;
    font-weight: 500;
}

#subheading {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 400;
    max-width: 16em;
}

#read-more {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    color: white;
}

#hero-img {
    width: 46em;
    height: 34.5em;
}

#credit-container {
    background-color: #181719;
    position: absolute;
    bottom: -5em;
    right: 2.1em;

    width: 22em;
    height: 10em;
    padding: 1em 2em;

    filter: blur(.4px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0.25);
}

#person-img {
    border-radius: 50%;
    height: 3.1em;
    width: 3.1em;
    float: left;
    margin-right: 1.5em;
}

#person-name {
    font-weight: 500;
    font-size: 0.9em;
    margin: .3em 0 0 0;
    letter-spacing: 0.8px;
}

#person-designation {
    font-weight: 500;
    font-size: 0.8em;
    color: #828282;
    margin: .7em 0 0 0;
    letter-spacing: 0.5px;
}

#credit-info {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.3em;

    width: 10em;
    margin-top: 1.4em;
}

footer p {
    text-align: center;
    color: #A9A9A9;
    font-size: 0.9em;
    font-weight: 500;
}

footer p a {
    font-weight: 700;
    color: inherit;
}

@media (max-width: 800px) {
    html {
        font-size: 14px;
    }
    header {
        padding: 1em .5em;
    }
    #logo {
        font-size: 1.1em;
    }
    #hero {
        margin: 2em 1em 14em 1em;
        flex-direction: column;
        /* justify-content: flex-start; */
        align-items: flex-start;
        row-gap: 4em;
    }
    #hero-img {
        width: 100%;
        height: auto;
    }
    #credit-container {
        bottom: -8em;
        right: 1em;
    }
    footer p {
        font-size: 1em;
    }
    nav {
        display: none;
    }
    .icon {
        display: block;
    }
    #close-icon {
        display: none;
    }
}

@media (max-width: 800px) {
    .navbar.responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;

        font-size: 1.1em;
        width: 100%;
        height: 100%;
        background-color: #181719;

        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        text-align: center;
    }
    .navbar.responsive + .icon #close-icon {
        display: block;
        position: fixed;
        z-index: 2;
        top: 20px;
        right: 15px;
    }
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }